  <ul class="list-group">
    {{#each todos as |task|}}
      <li class="list-group-item row" id="todo-{{task.id}}">
        <div class="col-xs-1">
          <input type="checkbox" disabled={{task.complete}} {{action "completeTodo" task}}>
        </div>
        <div class="col-xs-7" role="listitem"
             style="{{if task.complete "text-decoration:line-through"}}">{{task.description}}</div>
        <div class="col-xs-offset-1 col-xs-1">
          <button type="button" data-id="{{task.id}}" class="glyphicon glyphicon-pencil" style="border: none;" {{action "editTask" task}}></button>
        </div>
        <div class="col-xs-1">
          <button type="button" class="glyphicon glyphicon-remove"
                  style="border: none;" {{action "deleteTodo" task}}></button>
        </div>
      </li>
    {{/each}}
  </ul>

  <form id="userForm" method="post" class="form-horizontal" style="display: none;">
    <div class="form-group">
      <label class="col-xs-3 control-label">ID</label>
      <div class="col-xs-3">
        <input type="text" class="form-control" name="id" readonly />
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Description</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" name="description"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-5 col-xs-offset-3">
        <button type="button" id="saveDetails" class="btn btn-default">Save</button>
      </div>
    </div>
  </form>

  <div class="todo-footer">
    <strong><span class="count-todos">{{totalToDo}}</span></strong> Items Total <strong><span class="count-todos">| {{completedToDo}}</span></strong> Completed <strong><span class="count-todos">| {{leftToDo}}</span></strong> Left
  </div>
